[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw
[submodule "extern/assimp"]
	path = extern/assimp
	url = https://github.com/assimp/assimp
[submodule "extern/VortexRenderer"]
	path = extern/VortexRenderer
	url = https://github.com/Malediktus/VortexRenderer
[submodule "extern/entt"]
	path = extern/entt
	url = https://github.com/skypjack/entt
